# APP CONFIG
NODE_ENV=development
PORT=3000

# FIREBASE CONFIGURATION
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"

# JWT CONFIG
JWT_SECRET=your_super_secret_key_123456
JWT_EXPIRES_IN=7d

# DATABASE CONFIGURATION
DB_HOST=localhost
DB_PORT=5432
DB_NAME=flood_prediction_db
DB_USER=postgres
DB_PASSWORD=your_db_password

# OPENWEATHER
OPENWEATHER_API_KEY=your_openweather_api_key